body {
    background-image: url("../images/audience-band-concert.jpg");
    background-size: 100%;
}
h1 {
    font-family: cursive;
    font-size: 80px;
    text-align: center;
    color: rgba(240, 246, 247, 0.904);
}


h4{
    font-family: 'Bangers', cursive;
    margin-top: 50;
    margin-bottom: -40px;
    font-size: 50px;
    text-align: center;
    color: rgba(221, 218, 11, 0.904);
}


p {
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
    color: black;
} 

main {
    width: 90%;
    margin: 0 auto;
}

.card{
    background-color: aqua;
    opacity: 0.5;
}

#wordGenerated{
    color: yellow;
}